

<html>
    <head>
        <title>Vehicle Mileage</title>
    </head>
    <style>
        .box
        {
            margin-top: 10%;
            margin-left: 25%;
            margin-right:25%;
            border: 8px  darkcyan; 
            background-color: peru;
            text-align: center; 
        }
    </style>
    <body>
        <div class="box">
        <h1> Calculator for Vehicle Mileage </h1>
        <h3>Bavin Balaji R</h3>
        <h3>25012625</h3>
        <br>
        <form method="POST">
            {% csrf_token %}
            <label>Distance: </label>
            <input type="text" name="Distance" value="{{D}}" required> Km
            <br><br>
            <label>Amount of Fuel: </label>
            <input type="text" name="Volume" value="{{V}}" required> L
            <br><br>
            <input type="submit" value="Calculate">
            <br><br>
            <label>Mileage: </label>
            <input type="text" name="Mileage" value="{{M}}"> Km/L
        </form>
        </div>
    </body>
</html>

